@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model crud_project.Models.book


<section class="borrowhome">
    <div class="card col-6">
        <div class="card-body">
            <form asp-controller="admin" asp-action="addbook">
                <div class="form-group my-3">
                    <label class="pb-1">Book Name</label>                  
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label class="pb-1">Publish Year</label>
                    <input asp-for="publishyear" class="form-control" />
                    <span asp-validation-for="publishyear" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label class="pb-1">Admin Id</label>                     
                    <select asp-for="adminid" class="form-control" asp-items="ViewBag.adminid"></select>
                </div>

                <button name="send" class="btn"><a>Send Book</a></button>
                <button type="submit" name="back" class="btn"><a asp-controller="admin" asp-action="index">Back</a></button>
            </form>
        </div>
    </div>

</section>