@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model crud_project.Models.category

<section class="borrowhome">
    <div class="card col-6">
        <div class="card-body">
            <form asp-controller="admin" asp-action="addcategory">
                <div class="form-group my-3">
                    <label class="pb-1">Category Name</label>
                    <input type="text" class="form-control" name="name">                  
                </div>
                <button name="send" type="submit" class="btn"><a>Add Category</a></button>
                <button type="submit" name="back" class="btn"><a asp-controller="admin" asp-action="index">Back</a></button>
            </form>
        </div>
    </div>

</section>


