@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="listhome">
    <div class="container col-9">
        <div class="card">
            <div class="card-body text-center">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Report</th>
                            <th>Rate</th>
                            <th>Book ID</th>

                        </tr>
                    </thead>


                    <tbody>
                        <tr>
                            <td>8</td>
                            <td>tadrous</td>
                            <td>good</td>
                            <td>7</td>
                            <td>network</td>
                        </tr>

                        <tr>
                            <td>10</td>
                            <td>osama ahmed</td>
                            <td>unintrested</td>
                            <td>5</td>
                            <td>php</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>ahmed</td>
                            <td>very good</td>
                            <td>9</td>
                            <td>operating system</td>
                        </tr>
                    </tbody>



                </table>
                <button type="submit" name="back" class="btn"><a asp-controller="home" asp-action="index">Back</a></button>

            </div>
        </div>


    </div>
</section>
